body {
  background: #292929;
}
/*=--------------------------------------Title Bar--------------------------------------------------------*/
.title_bar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #292929;
  border-bottom: solid 4px white;
  width: 100%;
  height: 60px;
}

#title {
  font-family: 'Averia Serif Libre', serif;
/*  font-family: 'Cutive Mono', monospace;*/
  font-size: 32pt;
  color: white;
  user-select: none;
  position: absolute;
  z-index: 4;
  left: 5px;
  top: 5px;
  transition: 0.6s ease;
}

#title:hover{
  color: burlywood;
}

a{
  text-decoration: none;
  z-index: 3;
}

a:hover{
  opacity: .9;
}

* {
  box-sizing: border-box
}

img {
  vertical-align: middle;
}

/*-------------------------------------Seek Box-------------------------------*/
#seekBox{
  top: 0px;
  width: 300px;
  left: calc(50% - 150px);
  height: 60px;
  position: fixed;
  text-align: center;
  z-index: 6;
  background: white;
  display: none;
  transition: 0.6s ease;
}

#prev,
#home,
#next{
  cursor: pointer;
  font-family: 'Cutive Mono', monospace;
  color: black;
  font-weight: bold;
  position: relative;
  top: 9px;
  font-size: 24pt;
  padding-left: 8px;
  padding-right: 8px;
  transition: 0.6s ease;
  color: #0070c0;
}


#prev:hover,
#home:hover,
#next:hover{
  color: red;
}


/*--------------------------------------content----------------------------------*/
.content{
  width: 100%;
  height: auto;
  top: 30px;
  left: 0px;
  margin-bottom: 25px;
  position: relative;
  z-index: 0;
}

.project_title {
  font-size: 28pt;
  font-family: 'Cutive Mono', monospace;
  color: white;
  width: auto;
  text-align: center;
  user-select: none;
  position: relative;
  text-shadow: 1px 1px black;
  display: block;
}

.items{
  position: relative;
  display: inline-block;
  width: 600px;
  margin: 10px;
  box-shadow: -5px 5px 4px 1px black;
  height: 200px;
  cursor: pointer;
  border: solid black 3px;
  transition: 2s ease;
}

.items:hover{
  color: red;
  height: 300px;
  transition: 250ms ease;
}

.info_text {
  font-size: 20pt;
  font-family: 'Cutive Mono', monospace;
  color: white;
  text-align: left;
  left: 20%;
  right: 20%;
  width: 60%;
  position: relative;
  margin-top: 10px;
}




/*---------------------------------------------------Slideshow----------------------------------*/

.numbertext{
  color: #f2f2f2;
  font-size: 12pt;
  padding: 8px 12px;
  font-family: 'Cutive Mono', monospace;
  position: absolute;
  top: 0;
  z-index: 1;
}

#right,
#left{
  position: absolute;
  top: calc(50% - 10px);
  font-size: 36pt;
  color: white;
  user-select: none;
  cursor: pointer;
  animation: colorShiftRed 3s ease infinite;
}

#left{
  left: 5px;
}

#right{
  right: 5px;
}

#right:hover,
#left:hover{
  color: red;
  opacity: 1;
}

/*-------------------------------------------project----------------------------------------*/

.project_container{
  width: 100%;
  padding-top: 45.8%;
  height: auto;
  left: 0;
  top: 0;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  display: none;
}

.slideshow_container{
  border: 0px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  display: none;
}

.slide_image{
  border: 0px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  background: black;
  margin-left: auto;
  margin-right: auto;
}

.ss_tile_image{
  display: inline-block;
  width: 348px;
  height: 232px;
  background: red;
  margin: 10px;
  box-shadow: -5px 5px 4px 1px #101010;
}

#ss_link{
  cursor: pointer;
  font-family: 'Cutive Mono', monospace;
  text-decoration: none;
  font-weight: bold;
  font-size: 20pt;
  transition: 0.6s ease;
  color: #0070c0;
}

#ss_link:hover{
  color: red;
}

.project_image{
  border: 0px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#youtube{
  border: 0px;
  position: absolute;
  top: 0;
  left: 10%;
  bottom: 0;
  right: 10%;
  width: 80%;
  height: 100%;
  background: #101010;
}

/*------------------------------------------animations----------------------------------------*/

@keyframes colorShiftRed{
  0%{
    color: white;
  }
  50%{
    color: red;
  }
  100%{
    color: white;
  }
  
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

/*------------------------------------------------scaling--------------------------------------------------*/

/*@media screen and (max-width: 1600px) {
  #youtube {
    border: 0px;
    display: block;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 1280px;
    height: 720px;
    left: calc(50% - 640px);
  }

  .slideshow_container {
    max-width: 1200px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    left: calc(50% - 600px);
  }
}*/

@media screen and (max-width: 1280px) {
  #youtube{
    width: 90%;
    left: 5%;
  }
  
  .info_text{
    width: 80%;
    left: 10%;
    right: 10%;
  }
  
  .project_title{
    font-size: 24pt;
  }
}

@media screen and (max-width: 850px){
  #seekBox{
    width: 100%;
    left: 0;
    height: 32px;
  }
  
  #prev,#home,#next{
    font-size: 20pt;
    top: 1px;
  }
  
  .title_bar{
    height: 34px;
    border-bottom: solid 2px white;
  }
  
  #title{
    font-size: 20pt;
    top: 0px;
  }
  
  .content{
    margin-top: 0;
    top: 0;
  }
  
  .project_title{
    font-size: 20pt;
  }
  
  .youtube_icon{
    width:27px;
  }
}

@media screen and (max-width: 760px){
  .project_image {
    left: 0%;
    width: 100%;
    margin: 0;
  }
  
  .project_container{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 57%;
  }
  
  #youtube{
    width: 100%;
    left: 0;
  }
  
  .info_text{
    width: 90%;
    left: 5%;
    right: 5%;
  }
}

@media screen and (max-width: 642px){
  .items{
    width: 100%;
    left: 0;
    margin-left: 0;
    margin-right: 0;
  }
}